<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <title><%= page %> | Basic informational site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%- include ('./elements/nav') -%>
    <main>
      <h1>404: Page not found</h1>
      <h2>
        <a href="/" target="_self">Back to Home</a>
      </h2>
    </main>
    <%- include ('./elements/footer') -%>
  </body>
</html>