<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <title><%= page %> | Learning nodejs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <h1><%= page %></h1>
      <main>
        <form method="POST" action="/new">
          <label for="userName">Your name:</label>
          <input type="text" id="userName" name="userName"><br><br>
          <label for="messageText">Message:</label>
          <input type="text" id="messageText" name="messageText"><br><br>
          <input type="submit" value="Submit">
        </form>
      </main>
    </div>
    <%- include('elements/footer'); %>
  </body>
</html>