<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <title><%= page %> | Learning nodejs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <h1><%= page %></h1>
      <main>

        <% 
          messages.forEach(function(message){ %>
            <%- include('elements/message', {user: message.user, message: message.text, date: message.added}); %>
          <% });
        %>
      </main>
      <a class="add" href="/new">Add new message!</a>
    </div>
    <%- include('elements/footer'); %>
  </body>
</html>