body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.wrapper {
  position: relative;
  min-height: 90vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  /* font-size: 0.8rem; */
  color: grey;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem;
}

.message {
  display: block;
  width: 100%;
  max-width: 500px;
  margin-bottom: 2rem;
  position: relative;
  box-shadow: rgba(146, 142, 125, 0.2) 0px 10px 20px;
  will-change: transform;
  color: rgb(43, 42, 53);
  padding: 1rem;
  background: rgb(253, 253, 253);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(246, 246, 249);
  border-image: initial;
  box-sizing: border-box;
}

footer {
  padding: 1rem;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

form input[type=text] {
  padding: 1rem 2rem;
}

form input[type=submit] {
  padding: 1rem;
  border: none;
  background-color: #00B7FF;
  color: white;
}

.add {
  display: block;
  color: white;
  padding: 1rem;
  border: none;
  background-color: #00B7FF;
}